{% extends "index.html" %}
    {% block content %}
    <h1>AMessage</h1>
    <div class="container">
        <p>Введите секретный ключ:</p>
        <input type="text" id="secret_key" name="secret_key"><br><br>
        <button id="readButton" onclick="redirectToMessage()">Прочитать</button>
        <a href="/message"><button>Вернуться на главную страницу</button></a>
    </div>
    <a style="padding-top: 20px;" class="tg" target="_blank" href="https://t.me/xaslx"><img width="50px" height="50px" src="/static/telegram.png" alt="tg"></a>
    <script>
        function redirectToMessage() {
            var secretKey = document.getElementById('secret_key').value;
            window.location.href = "/message/get/" + secretKey;
        }
    </script>
    {% endblock %}
