<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/ic.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    <title>Amessage</title>
    
</head>
<body>
    {% block content %}
    <h1>AMessage</h1>
    <div class="container">
    <a href="/message/create"><button id="createMessage">Создать сообщение</button></a>
    <a href="/message/get"><button id="readMessage">Прочитать сообщение</button></a>
    </div>
    <a style="padding-top: 20px;" class="tg" target="_blank" href="https://t.me/xaslx"><img width="50px" height="50px" src="/static/telegram.png" alt="tg"></a>
    {% endblock %}
</body>
</html>
